@tailwind base;
@tailwind components;
@tailwind utilities;

.user-profile{
  /* Add some styles here or remove the ruleset */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}